---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HeroSvg from "../svg/HeroSvg.astro";
import SavingsSvg from "../svg/SavingsSvg.astro";
import IconWhatsapp from "../icons/IconWhatsapp.astro";
import IconPhone from "../icons/IconPhone.astro";
import IconMail from "../icons/IconMail.astro";
import IconFacebook from "../icons/IconFacebook.astro";
import IconInstagram from "../icons/IconInstagram.astro";
import IconPig from "../icons/IconPig.astro";
import IconCheck from "../icons/IconCheck.astro";
import Section from "../components/Section.astro";
import TitleSection from "../components/TitleSection.astro";
import LinkSection from "../components/LinkSection.astro";
import DescriptionCard from "../components/DescriptionCard.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { links } from "../Js/links";
import { seguros } from "../Js/seguros";
const { seguro } = Astro.params;

const info = seguros.find((p) => p.id === seguro);
---

<Layout title=`${info.title}`>
  <Header />

  <main>
    <Section>
      <header class="w-full">
        <TitleSection title="Conoce nuestro Seguros" />
        {
          links.map(({ id, title }) => {
            return <LinkSection id={id} title={title} />;
          })
        }
      </header>
      <footer
        class="w-full grid gap-10 max-sm:gap-5 justify-between grid-cols-auto-fit text-center text-2xl"
      >
        {
          seguros.map(({ id, title, icon, alt }) => {
            if (title === info.title) {
              return <Card id={id} title={title} icon={icon} alt={alt} />;
            }
          })
        }
        <div class="flex flex-col text-start gap-3">
            {
              seguros.map(({ title, description }) => {
                if (title === info.title) {
                  return <DescriptionCard title={title} description={description}/>;
                }
              })
            }
        </div>
      </footer>
    </Section>

    <Footer />

    <a
      href="https://wa.me/541140297164"
      target="_blank"
      class="w-12 h-12 fixed right-6 bottom-10"
    >
      <IconWhatsapp class="w-12 h-12" />
    </a>
  </main>
</Layout>
