---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HeroSvg from "../svg/HeroSvg.astro";
import SavingsSvg from "../svg/SavingsSvg.astro";
import IconWhatsapp from "../icons/IconWhatsapp.astro";
import IconPhone from "../icons/IconPhone.astro";
import IconMail from "../icons/IconMail.astro";
import IconFacebook from "../icons/IconFacebook.astro";
import IconInstagram from "../icons/IconInstagram.astro";
import IconPig from "../icons/IconPig.astro";
import IconCheck from "../icons/IconCheck.astro";
import Section from "../components/Section.astro";
import TitleSection from "../components/TitleSection.astro";
import IconMenu from "../icons/IconMenu.astro";
import LinkSection from "../components/LinkSection.astro";

import { links } from "../Js/links";
import { seguros } from "../Js/seguros";
const { seguro } = Astro.params;

const info = seguros.find((p) => p.id === seguro);
---

<Layout title=`${info.title}`>
  <header class="flex justify-center w-full h-full py-6 px-24 max-sm:px-4">
    <div
      class="w-full max-w-[1440px] flex justify-between items-center max-xl:hidden"
    >
      <figure>
        <a href="/">
          <h1 class="text-2xl font-semibold text-blue-800">
            DAFA - Asesores de Seguros
          </h1>
        </a>
      </figure>
      <nav class="text-lg">
        <ul class="flex text-black/80 font-medium gap-10">
          <li>
            <a href="/">Personas</a>
          </li>
          <li>
            <a href="/">Empresas y Profesionales</a>
          </li>
          <!-- <li>
            <a href="/">Oficinas</a>
          </li> -->
          <li>
            <a href="/">Transporte de Pasajeros</a>
          </li>
          <li>
            <a href="/">Institucional</a>
          </li>
        </ul>
      </nav>
    </div>

    <div
      class="w-full max-w-[1440px] flex justify-between items-center xl:hidden"
    >
      <h1 class="text-blue-800 text-xl z-50 font-semibold">Dafa-Icon</h1>
      <figure class="w-10 z-40">
        <IconMenu id="menu" class="w-10" />
      </figure>
      <div
        id="menuNesting"
        class="bg-blue-50 gap-10 text-lg flex flex-col pt-24 pl-8 top-0 right-0 translate-x-[100%] transition-transform fixed z-20 w-full h-screen text-black/80 font-medium"
      >
        <a href="/normal/">Personas</a>

        <a href="/">Empresas y Profesionales</a>

        <a href="/">Transporte de Pasajeros</a>

        <a href="/">Institucional</a>
        <div class="flex gap-4 items-center justify-start">
          <a class="flex gap-1 items-center text-lg" href="/"
            ><IconFacebook class="w-7" />Facebook</a
          >
          <a class="flex gap-1 items-center text-lg" href="/"
            ><IconInstagram class="w-7" />
            Instagram
          </a>
        </div>
      </div>
    </div>
  </header>

  <main>
    <Section>
      <header class="w-full">
        <TitleSection title="Conoce nuestro Seguros" />
        {
          links.map(({ id, title }) => {
            return <LinkSection id={id} title={title} />;
          })
        }
      </header>
      <footer
        class="w-full grid gap-10 max-sm:gap-5 justify-between grid-cols-auto-fit text-center text-2xl"
      >
        {
          seguros.map(({ id, title, icon, alt }) => {
            if (title === info.title) {
              return <Card id={id} title={title} icon={icon} alt={alt} />;
            }
          })
        }
        <div>
          <p class="text-start text-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio,
            aliquam minus! Obcaecati porro esse odio dolores blanditiis dicta
            assumenda fuga numquam suscipit officia adipisci recusandae, dolor
            nemo itaque rem nihil.
          </p>
        </div>
      </footer>
    </Section>

    <Section>
      <header class="w-full">
        <TitleSection title="Servicio de Asistencia" />
      </header>
      <footer
        class="w-full grid gap-10 justify-between grid-cols-auto-contact text-center text-2xl"
      >
        <div
          class="flex gap-6 flex-col p-8 max-sm:px-4 h-full rounded-xl shadow-[0_8px_30px_rgb(0,0,0,0.12)] bg-white/60"
        >
          <div>
            <h4
              class="mb-4 text-2xl max-sm:text-[22px] text-start font-semibold text-blue-800"
            >
              Contactate con nosostros las 24hs, los 365 dias de año.
            </h4>
            <a class="flex mb-3 gap-1 items-center text-xl" href="/"
              ><IconPhone class="w-8" />- 0-810-999-3200</a
            >
            <a class="flex mb-3 gap-1 items-center text-xl" href="/"
              ><IconWhatsapp class="w-8" />- +54 9 11 3765-0687</a
            >
            <a class="flex gap-1 items-center text-xl" href="/"
              ><IconMail class="w-8" />
              - info@segurosrivadavia.com</a
            >
          </div>

          <div>
            <h4
              class="mb-4 text-2xl max-sm:text-[22px] text-start font-semibold text-blue-800"
            >
              Seguinos en nuestras redes sociales para mantenerte informado.
            </h4>
            <a class="flex mb-3 gap-1 items-center text-xl" href="/"
              ><IconFacebook class="w-8" />- Facebook</a
            >
            <a class="flex gap-1 items-center text-xl" href="/"
              ><IconInstagram class="w-8" />
              - Instagram
            </a>
          </div>
        </div>

        <div
          class="flex p-8 max-sm:px-4 h-full flex-col rounded-xl shadow-[0_8px_30px_rgb(0,0,0,0.12)] bg-white/60"
        >
          <h4
            class="mb-4 text-2xl max-sm:text-[22px] text-start font-semibold text-blue-800"
          >
            Ubicación: Blvd. Olimpico Jose Benjamin Zubiaur 4385, Buenos Aires
          </h4>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13124.673232220037!2d-58.4542305!3d-34.6757014!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb1bc837b8a7%3A0x327c7c69ca37fa13!2sEdificio%2020!5e0!3m2!1sen!2sar!4v1711128214642!5m2!1sen!2sar"
            width="100%"
            height="300"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </footer>
    </Section>

    <Section>
      <header class="w-full">
        <TitleSection title="Metodos de Pago" />
      </header>
      <footer
        class="w-full grid gap-10 py-12 justify-between grid-cols-auto-pagos text-center text-2xl"
      >
        <picture class="flex w-full justify-center">
          <SavingsSvg class="w-96 max-sm:w-[280px]" />
        </picture>
        <div
          class="flex h-full flex-col p-8 max-sm:px-4 rounded-xl shadow-[0_8px_30px_rgb(0,0,0,0.12)] bg-white/60"
        >
          <header class="flex gap-2 justify-center items-center">
            <IconPig class="w-12 h-12 max-sm:w-10 max-sm:h-10" />
            <span
              class="text-3xl max-sm:w-[12ch] max-sm:text-[26px] leading-normal text-blue-700 font-semibold text-pretty mb-2"
              >Ahorrá hasta un 30%</span
            >
          </header>
          <footer class="max-sm:text-[22px]">
            <p class="mb-4">con tu nueva póliza y sumá más beneficios.</p>
            <div class="w-full text-start">
              <p class="mb-4 font-medium">
                Abona con tu metodo pago de preferencia.
              </p>
              <ul class="text-2xl max-sm:text-[22px]">
                <li class="flex gap-2 mb-2">
                  <IconCheck class="w-7" />Tarjetas (Credito | Debito)
                </li>
                <li class="flex gap-2 mb-2">
                  <IconCheck class="w-7" />Transferencias Bancarias
                </li>
                <li class="flex gap-2 mb-2">
                  <IconCheck class="w-7" />Mercado Pago
                </li>
                <li class="flex gap-2 mb-2">
                  <IconCheck class="w-7" />Efectivo
                </li>
              </ul>
            </div>
          </footer>
        </div>
      </footer>
    </Section>

    <a
      href="https://wa.me/541140297164"
      target="_blank"
      class="w-12 h-12 fixed right-6 bottom-10"
    >
      <IconWhatsapp class="w-12 h-12" />
    </a>
  </main>
</Layout>
