---
const { id, title, icon, alt } = Astro.props;
---

<a
  style={`view-transition-name: card-${id};`}
  href=`/${id}/`
  title={title}
  class=`h-[240px] max-sm:h-[220px] bg-white/60 text-2xl max-sm:text-[22px] max-h-full flex flex-col gap-3 justify-center items-center rounded-xl shadow-[0_8px_30px_rgb(0,0,0,0.12)] ${Astro.props.class}`
>
  <img class=`w-14 ${Astro.props.sizeIcon}` src=`../${icon}` loading="lazy" alt={alt} />
  <span>{title}</span>
</a>
