---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import LinkSection from "../../components/LinkSection.astro";
import HeroSvg from "../../svg/HeroSvg.astro";

import { seguros } from "../../Js/seguros";

import { links } from "../../Js/links";
const { link } = Astro.params;

const info = links.find((l) => l.id === link);
---

<Layout title=`${info.id}`>
    <header class="flex justify-center w-full h-full py-6 px-24">
        <div class="w-full max-w-[1440px] flex justify-between items-center">
          <figure>
            <a href="/">
              <h1 class="text-2xl font-semibold text-blue-800">
                DAFA - Asesores de Seguros
              </h1>
            </a>
          </figure>
          <nav class="text-lg">
            <ul class="flex text-black/80 font-medium gap-10">
              <li>
                <a href="/">Personas</a>
              </li>
              <li>
                <a href="/">Empresas y Profesionales</a>
              </li>
              <!-- <li>
                <a href="/">Oficinas</a>
              </li> -->
              <li>
                <a href="/">Transporte de Pasajeros</a>
              </li>
              <li>
                <a href="/">Institucional</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <section class="flex justify-center w-full h-full p-24">
        <div class="w-full max-w-[1440px] grid grid-cols-auto-hero items-center">
          <header class="place-self-center">
            <h2 class="text-6xl text-blue-900 mb-6 font-semibold">
              Elegí estar seguro
            </h2>
            <p class="text-[21px] max-w-[60ch] w-full mb-6">
              Somos <span class="font-semibold text-blue-800"
                >Productores Asesores de Seguros</span
              > con mas de 25 años de experiencia en el rubro. Trabajamos con las mejores
              compañias aseguradoras del mercado.
            </p>
            <a
              class="bg-blue-800 text-lg mr-1 font-medium tracking-wide rounded-md text-white px-10 py-[10px]"
              href="/">Contactanos</a
            >
          </header>
          <footer class="place-self-center">
            <figure class="flex w-full justify-center">
              <HeroSvg class="w-[600px] xl:w-[500px]" />
            </figure>
          </footer>
        </div>
      </section>
      <section class="flex justify-center w-full h-full px-24 py-16">
        <div
          class="w-full max-w-[1440px] flex flex-col justify-evenly items-center"
        >
          <header class="w-full">
            <h3 class="text-start font-medium text-4xl text-blue-900 mb-4">
              Conoce nuestro Seguros
            </h3>
            {
              links.map(({ id, title}) => {
                return <LinkSection id={id} title={title} />;
              })
            }
          </header>
          <footer
            class="w-full grid gap-10 justify-between grid-cols-auto-fit text-center text-2xl"
          >
          {
            seguros.map(({ id, title, icon }) => {
              return <Card id={id} title={title} icon={icon} />;
            })
          }
          </footer>
        </div>
      </section>
</Layout>